@import "../Helpers/_variable";

.project {
  margin: 45px 160px;
  position: relative;
  .project-content {
    h1 {
      @include style-title;
    }
    p {
      @include style-content;
    }
  }
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-top: 30px;
    .project-item {
      position: relative;
      background-color: white;
      border-radius: 7px;
      height: 400px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 25px 6px rgba(164, 42, 220, 0.982);
      }
      img {
        width: 100%;
        height: 200px;
        border-radius: 7px 7px 0 0;
        object-fit: fill;
        object-position: center;
      }
      .project-info {
        padding-left: 10px;
        h2 {
          padding-top: 20px;
          font-weight: bold;
          font-size: 20px;
          position: relative;
          &::after{
            content: '';
            display: block;
            width: 120px;
            height:12px;
            background-color: rgba(58, 24, 207, 0.521);
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .project-skills {
          padding: 10px 0;
          span {
            display: inline-block;
            margin: 4px 0;
            padding: 4px;
            background-color: aqua;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
