$text-title: #3b38a0;

// size
$textTitle-size: 86px;
$textContent-h2: 30px;
$textTitle-h1: 45px;
$text-p: 18px;
$textLink: 20px;

// font
$textTitle-font: "Libertinus Serif", serif;

// weight
$textTitleWeight: 700;

@mixin style-title {
  color: #3b38a0;
  text-align: center;
  font-size: $textTitle-h1;
  font-weight: $textTitleWeight;
}
@mixin style-content {
  color: white;
  font-size: $text-p;
  line-height: 1.5;
  text-align: center;
}
@mixin style-boxSkill {
  border-radius: 0px 0px 20px 20px;
  margin-top: 200px;
  height: 100px;
  background-color: #606cae;
  text-transform: uppercase;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}
@mixin style-boxSkill-content {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  bottom: 65px;
  left: 0;
  z-index: -1;
  transition: height 0.3s ease;
  // background-color: blue;
  border-radius: 0px 0px 20px 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;
}
@mixin style-boxSkill-content-img {
  border-radius: 15px;
  background-color: white;
  padding: 3px;
  box-shadow: 0 0 5px 5px rgba(61, 69, 183, 0.982);
}
